
# Option ADO: Pipeline équivalent si vous préférez Azure Pipelines
trigger:
  - main
pool:
  vmImage: ubuntu-latest
steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
  - script: |
      cd app && npm ci && npm test
    displayName: Build & Test
